{% extends 'base.html.twig' %}

{% block title %}TEST{% endblock %}
{% block aside_left %}

{% endblock %}
{% block content %}

<section>
    <h1>new workday 2</h1>

    {{ form_start(form, {'action': path('new-workday-3'), 'method': 'POST'}) }}


    {{ form_row(form.workers) }}

    <div class="form-group">
        {{ form_label(form.comment) }}
        {{ form_widget(form.comment) }}
    </div>
    {{ form_row(form.id) }}

    {{ form_widget(form.summary) }}



    {#{{ form_end(form, {'render_rest': false}) }}#}
    {{ form_end(form) }}



    {#TODO virer ce script d'ici#}
    <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
            crossorigin="anonymous">
    </script>

    <script src="{{ asset('js/workday_form.js') }}"></script>

</section>
{% endblock %}
