{% extends 'base.html.twig' %}

{% block title %}TEST{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello  ✅</h1>
    {{ dump(site) }}
    {#{% for site in sites  %}#}
        {#<div>name:{{ site.shortName }} - {{ site.name }}</div>#}
        {#<div>participants</div>#}
        {#<ul>#}
            {#{% for participant in site.participations %}#}
                {#<li>#}
                    {#<span>{{ participant.person }} : {{ participant.role }}</span>#}
                {#</li>#}
            {#{% endfor %}#}
        {#</ul>#}
        {#<div>workdays:</div>#}
        {#<ul>#}
            {#{% for workDay in site.workDays %}#}
                {#<li>#}
                    {#<span>{{workDay.date|date("d/m/Y")}}</span>#}

                {#</li>#}
            {#{% endfor %}#}
        {#</ul>#}


        {#<hr>#}

    {#{% endfor %}#}
</div>
{% endblock %}
