{% extends 'base.html.twig' %}

{% block title %}TEST{% endblock %}
{% block aside_left %}
    {{ form_start(form, {'action': path('site-search'), 'method': 'GET'}) }}
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}
{% block content %}

<section>
    <div>Map</div>
</section>
<section>
    <h1>SITES  ✅</h1>

    <div>
        {% for site in sites %}
        <span><strong>{{ site.shortName }} : </strong>{{ site.latitude }} - {{ site.longitude }}</span>
        {% endfor %}
    </div>
    <hr>
    <h2>Site List</h2>
    {% for site in sites  %}
        <a href="{{ path('site', {'id': site.id} ) }}"><h3>name:{{ site.shortName }} - {{ site.name }}</h3></a>
        <div>{{ site.address }} - {{ site.postCode }} {{ site.locality }} - {{ site.country }}</div>
        <div>is Active: {{ site.active ? '✅':'❌' }}</div>
        <div> first work day :</div>
        <div> last work day :</div>

        <ul>{% set flags_count = 0%}
            {% for wd in site.workDays if wd.flagged %}
                {% for flag in wd.flags if (flag.viewed == false) %}
                   {% set flags_count = flags_count + 1 %}
                {% endfor %}
            {% endfor %}
        </ul>
        <div>flags : {{ flags_count }}</div>

        <hr>

    {% endfor %}

</section>
{% endblock %}
