<div id="login-menu">
    {% if app.user %}
        <a href="/profil/">{{ app.user }}</a> -
        <a class="login-btn" href="{{ path('logout') }}">{% trans %}Déconnexion{% endtrans %}</a>
    {% else %}
        <a class="login-btn" href="{{ path('login') }}">{% trans %}Connexion{% endtrans %}</a>
    {% endif %}
</div>

<nav id="nav">
    {% if app.user %}
        <ul class="navigation-left">
            <li><a href="{{ path('workday') }}">{% trans %}Historique{% endtrans %}</a></li>
            <li><a href="{{ path('site') }}">{% trans %}Chantier{% endtrans %}</a></li>
            <li><a href="{{ path('person') }}">{% trans %}Personnes{% endtrans %}</a></li>
            <li><a href="/Matériaux/">{% trans %}Matériaux{% endtrans %}</a></li>
        </ul>
        <ul class="navigation-right">
            <li><a class ="new-workday" href="{{ path('new-workday') }}"><i class="far fa-file"></i></a></li>
            <li><a href="/notification/"><i class="far fa-flag"></i></a></li>
            <li><a href="/param/"><i class="fas fa-cog"></i></a></li>

        </ul>
    {% else %}
        <ul class="navigation-left">
            <li><a href="{{ path('about') }}">{% trans %}À Propos{% endtrans %}</a></li>
        </ul>
    {% endif %}
</nav>